/*  your css code here. If applicable */
html,body{
	background:rgb(135,206,235);
} 
.first-para-background{
	background:black;
	color:white;
}
.last-para-color{
	color:red;
}
.list-items-background-white{
	background:white;
}
.list-items-background-stalegray{
	background:gray;
}
.list-items-background-pink{
background:pink;	
}
